@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>Visit <a href="http://www.last-outpost.net/forum/index.php/board,414.0.html">The Last Outpost Development Discussion Forum</a> or contact</p>

<address>
    <strong>Martin Thompson:</strong>   <a href="mailto:martinthompson@last-outpost.net">martinthompson@last-outpost.net</a><br />
</address>